<div class="container">
<div class="row">
<div class="col-sm-12">
		<div class="col-sm-8">
		<div class="col-sm-4">
			<div class="page-header">
  				<h1><%= @article.title %> <small>Week 51(hc)</small></h1>
  				<%= link_to 'Terug naar folderoverzicht', articles_path, class: 'btn btn-primary' %>
			</div>
		</div>
		<div class="col-sm-4">
			<iframe src="<%= @article.text %>" height="600" width="600"></iframe>	
					<%= link_to 'Edit', edit_article_path(@article) %>
		</div>
		</div>
</div>
</div>