 

<div class="jumbotron">
  <h1>Reclame Folders</h1>
  <p>Aanbiedingen</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Bekijk aanbiedingen</a></p>
</div>
<div class="alert alert-success" role="alert">
  <%= link_to 'Overzicht Folders', controller: 'articles' %>
</div>
